@inherits RaceEncounterComponent

@if (Mission == default)
{
    <div class="fadein-content">Loading...</div>
}
else if (EncounterOutcome != default)
{
    <div class="container container-rounded fadein-content">
        <span>@EncounterOutcome.ShipId.Value</span>
        <span>@EncounterOutcome.Behaviour.ToString()</span>
    </div>
}
else
{
    <div class="container container-rounded fadein-content">
        <span>@Card?.Description</span>
        <form>
            @foreach (var interaction in Card!.Interactions)
            {
                <div class="radio"><label><input type="radio" name="optEncounterChoice" @onchange="((_) => { SelectionChanged(interaction.Id); })" />@interaction.Description @interaction.Outcomes.ToDisplay()</label></div>
            }
            <button type="button" class="btn btn-primary" disabled="@(!SelectionMade)" @onclick="InteractionSelected">Choose</button>
        </form>
    </div>
}